<mat-toolbar color="primary" class="app-toolbar">
  <a class="app-title" routerLink="/" aria-label="Go to Home">
    {{ appName }}
  </a>

  <span class="spacer"></span>

  <ng-container *ngIf="(isHandset$ | async); else desktopNav">
    <button
      mat-icon-button
      [matMenuTriggerFor]="navMenu"
      aria-label="Open navigation menu"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #navMenu="matMenu">
      <a mat-menu-item routerLink="/">Home</a>
      <a mat-menu-item routerLink="/search">Search</a>
      <a mat-menu-item routerLink="/about">About</a>
    </mat-menu>
  </ng-container>

  <ng-template #desktopNav>
    <a
      mat-button
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>
    <a mat-button routerLink="/search" routerLinkActive="active-link">Search</a>
    <a mat-button routerLink="/about" routerLinkActive="active-link">About</a>
  </ng-template>
</mat-toolbar>

<div class="app-content">
  <router-outlet></router-outlet>
</div>
